
<div class=" mr-md-3 pt-5 px-lg-5 pt-md-5 px-md-5 text-center text-white overflow-hidden">




    <div id = "addresscontent" class="col-md-4-*   my-2" style="width: 50%; margin-left: 20%; height: 1000px; transition-property: width;transition-duration: 0.5s;">
        <div class="d-md-flex flex-column flex-md-equal w-100 my-md-3 pl-md-3">


            <div class="shadow-lg bg-info mr-md-3  pt-md-3 px-md-2 text-center text-white overflow-hidden" style="margin-bottom:2%; border-radius: 0px 0px 0px 0px; ">
                <div class="p-2">
                    <h1><i class="fas fa-spinner"></i>  Logging In</h1>
                </div>
            </div>


        </div>
    </div>




</div>